- name: SonarCloud Scan
  uses: SonarSource/sonarcloud-github-action@v2
  env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  with:
    args: >
      -Dsonar.projectKey=vetrii-vs_frontend_repo
      -Dsonar.organization=vetrii-vs
      -Dsonar.sources=.
